<div class="btn-group">
    <app-action-button
      [btnClass]="'btn-info'"
      [icon]="'fa-eye'"
      [text]="''"
      (clicked)="onSelectButtonClick()"
    ></app-action-button>
    <app-action-button
      [btnClass]="'btn-secondary'"
      [icon]="'fa-refresh'"
      [text]="''"
      (clicked)="onUpdateButtonClick()"
    ></app-action-button>
    <app-action-button
      [btnClass]="'btn btn-danger'"
      [icon]="'fa-trash'"
      [text]="''"
      (clicked)="onDeleteButtonClick()"
    ></app-action-button>
</div>
